.full-width {
  width: 100%;
}

.ingredient-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

mat-form-field {
  display: block;
  margin-bottom: 12px;
}

button {
  margin-top: 10px;
}

mat-card {
  background-color: rgb(58, 35, 66);
  color: white;
}
