.full-width {
  width: 100%;
}

.ingredient-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.image-upload {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-preview {
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipe-image {
  max-width: 300px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

mat-form-field {
  display: block;
  margin-bottom: 12px;
}

button {
  margin-top: 10px;
}

mat-card-title {
  padding: 16px;
}

mat-card {
  background-color: rgb(70, 39, 81);
  color: white;
}
