.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 20px;
}

.recipe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipe-cards {
  background-color: rgb(58, 35, 66);
  color: white;
}

mat-card-title {
  margin-top: 12px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
