mat-card-title {
  margin-top: 12px;
}

.recipe-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipe-cards {
  background-color: rgb(58, 35, 66);
  color: white;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
